@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
  background: linear-gradient(144.4deg, #0fa24a -15.04%, #0c6b94 72.94%);
}

/*input styles */
input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-primary-700;
}

input:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100 cursor-text font-normal;
}

/*select styles */
select:focus-within ~ label,
select:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-6;
}

select:focus-within ~ label {
  @apply text-primary-700;
}

select:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100 cursor-pointer font-normal;
}

/* image */
/*.image {
  @apply mt-3;
}*/

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd6db;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
