@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
  background: linear-gradient(144.4deg, #0fa24a -15.04%, #0c6b94 72.94%);
}

/*input styles */
input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform -translate-y-6;
}

input:focus-within ~ label {
  @apply text-primary-700;
}

input:not(:focus-within) ~ label {
  @apply transform duration-300 scale-95 cursor-text font-normal;
}

/*select styles */
select:focus-within ~ label,
select:not(:placeholder-shown) ~ label {
  @apply transform -translate-y-6;
}

select:focus-within ~ label {
  @apply text-primary-700;
}

select:not(:focus-within) ~ label {
  @apply transform duration-300 scale-95 cursor-pointer font-normal;
}

/* Toast notification customization */
.Toastify__toast-container {
  width: 450px !important;
}

.Toastify__close-button--light {
  position: absolute !important;
  z-index: 30 !important;
  right: 10px !important;
  top: 10px !important;
}

.Toastify__toast {
  border-radius: 10px !important;
  padding: 0px !important;
  min-height: fit-content !important;
}

.Toastify__toast-body {
  padding: 0px !important;
  margin: 0 !important;
  align-items: normal !important;
  display: block !important;
}

/* image */
/*.image {
  @apply mt-3;
}*/

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd6db;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
